body{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  padding: 10px;
}

.container-blog{
  width: 70%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
}

.wrap-cabecera {
  background: blanchedalmond;
  padding: 1px 10px;
}

.wrap-cabecera h2{
  color: indianred;
}

.footer{
  margin-top: 30px;
  background: goldenrod;
  color: white;
  padding: 10px;
  text-align: center;
}