body{
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  padding: 10px;
}

.container-blog{
  width: 70%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
}

.wrap-cabecera {
  background: darkslateblue;
  padding: 1px 10px;
  display: flex;
  align-items: center;
}

.wrap-cabecera img{
  width: 50px;
  margin-right: 20px;
}

.wrap-cabecera h2{
  color: white;
}